<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/edituser}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <p>Name:<span th:text="${user.username}"/></p>
    <p><img th:src="@{/img/{image}(image=${user.image})}" height="184" width="184"/></p>
    <p>Email:<span th:text="${user.email}"/></p>
    <div th:each="it:${roles}">
        <p><input type="radio" name="authority" th:value="${it}" th:checked="${it == user.authority}"/>
            <label th:text="${it}"/>
        </p>
    </div>
    <p><button type="submit">Save</button></p>
</form>
</body>
</html>