<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><a th:href="@{/}">Home</a></div>
<div>
    <h3 th:text="${newsItem.title}" />
    <p><i th:text="${newsItem.date}"/></p>
    <p><img th:src="@{/img/{image}(image=${newsItem.image})}" height="350" width="80%"/></p>
    <p><i th:text="${newsItem.tag}"/></p>
    <p th:text="${newsItem.content}"/>
</div>
<h4>Comments:</h4>
<form th:action="@{/news}" method="post">
    <input type="hidden" name="id" th:value="${newsItem.id}"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" name="content" placeholder="Enter your comment ..."/> <button type="submit">Send</button>
</form>
</body>
</html>