<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Registration page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">News site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
        <div sec:authorize="!isAuthenticated()" >
            <a class="btn btn-light mr-5" role="button" th:href="@{/login}">Login</a>
        </div>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">

            <button class="btn btn-light mr-5" type="submit">Sign Out</button>
        </form>
    </div>
</nav>

<div class="container mt-4">
<h4>Create your personal account:</h4>
<form th:action="@{/registration}" th:object="${user}" method="post" enctype="multipart/form-data">
<div class="form-row">
    <div class="custom-file col-sm-5 mt-4">
        <input class="custom-file-input" id="customFileLang" type="file" name="file" accept="image/*"/>
        <label for="customFileLang" class="custom-file-label">Input your profile image</label>
    </div>
    <div class="form-group col-sm-10 mt-4">
        <label> User name :
            <input th:class="${#fields.hasErrors('username')}?'form-control is-invalid':'form-control'" type="text" th:field="*{username}" placeholder="Enter your name:"/>
            <div class="invalid-feedback">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</label>
            </div>
        </label>
    </div>
    <div class="form-group col-sm-10">
        <label> Password:
            <input th:class="${#fields.hasErrors('password')}?'form-control is-invalid':'form-control'" type="password" th:field="*{password}" placeholder="Enter your password:"/>
            <div class="invalid-feedback">
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label>
            </div>
        </label>
    </div>
    <div class="form-group col-sm-10">
        <label> Email:
            <input th:class="${#fields.hasErrors('email')}?'form-control is-invalid':'form-control'" type="text" th:field="*{email}" placeholder="Enter your email:"/>
            <div class="invalid-feedback">
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label>
            </div>
        </label>
    </div>
</div>
    <button class="btn btn-primary" type="submit">
        Sign up
    </button>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>