<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <form action="find" method="post">
        <input type="text" name="find" placeholder="Enter need name"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Find</button>
    </form>
    <thead>
    <tr>
    <th align="left">User </th>
    <th align="left">Name</th>
    <th  align="left">Role</th>
    <th  align="left">Email</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="it:${users}">
        <tr>
            <td><img th:src="@{/img/{image}(image=${it.image})}" height="64" width="64"/></td>
            <td th:text="${it.username}"/>
            <td th:text="${it.authority.getAuthority()}"/>
            <td th:text="${it.email}"/>
            <td><a th:href="@{/edituser/{id}(id=${it.id})}">Edit</a></td>
            <td><a th:href="@{/users/{id}(id=${it.id})}">Delete</a></td>

        </tr>
    </div>
    </tbody>
</table>
</body>
</html>