<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
    <tr>
    <th align="left">User name</th>
    <th  align="left">Role</th>
    <th  align="left">Email</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="it:${users}">
        <tr>
            <td th:text="${it.username}"/>
            <td th:text="${it.authority.getAuthority()}"/>
            <td th:text="${it.email}"/>
            <td><a th:href="@{/edituser/{id}(id=${it.id})}">Edit</a></td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>